/*Main Css */
::-moz-selection {
  background: #87ceeb;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #87ceeb;
  color: #fff;
  text-shadow: none;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  display: none;
}

::-webkit-scrollbar-track-piece {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #dedede;
}

::-webkit-scrollbar-thumb:vertical {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #EBAF26;
}

/* Tabbing CSS */
[class^=box-] {
  display: none;
}

[class^=box-].showfirst {
  display: block;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  font-size: 16px;
  line-height: 1;
  color: #000000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
  font-weight: normal;
}

*:hover,
*:focus,
* {
  outline: none !important;
}

img {
  max-width: 100%;
  height: auto;
}

a,
input[type=submit] {
  transition: all 0.4s ease-In-out;
  display: inline-block;
  cursor: pointer;
}

a:hover {
  color: #e00000;
}

p,
a {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  text-decoration: none;
}

p {
  line-height: 26px;
  display: block;
}

span {
  display: inline-block;
}

/* Custom Slick Css */
.slick-list {
  margin: 0 -15px;
}

.slick-slide {
  margin: 0 15px;
}

ul.slick-dots {
  padding: 50px 0 0;
  text-align: center;
}

ul.slick-dots li {
  margin: 0 20px 0 0px;
  width: auto;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  padding: 0px;
  border: none;
}

.slick-dots li button::before,
.slick-dots li button::after {
  display: none;
}

.slick-dots li button {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  padding: 0px;
  background: #d6d6d6;
  border: none;
  cursor: pointer;
  font-size: 0px;
  padding: 0px;
  transition: all 0.4s ease-In-out;
  box-sizing: border-box;
}

.slick-dots li.slick-active button {
  background: #f3c919;
  width: 11px;
  height: 11px;
}

span.arrows {
  width: 40px;
  height: 40px;
  border: none;
  position: absolute;
  top: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 2;
  cursor: pointer;
  line-height: 39px;
  font-size: 12px;
  text-align: center;
  font-weight: 300;
  top: 0;
  border-radius: 0;
  background: #f7f7f7;
  color: #696969;
}

span.arrows.next {
  right: 1%;
}

textarea,
select,
input[type],
textarea,
select,
button {
  background: transparent;
  border: none;
  border-radius: 0px;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

::-webkit-input-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

::-moz-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

:-ms-input-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

:-moz-placeholder {
  color: #a3a3a3;
  font-weight: 400;
}

/* Padding Classes */
.pad-zero {
  padding: 0px;
}

.pad-l-zero {
  padding-left: 0px;
}

.pad-r-zero {
  padding-right: 0px;
}

/* Global Css */
.sprite-icn:before {
  content: "";
  background-image: url(../images/sprite.png);
  background-repeat: no-repeat;
  display: inline-block;
}

.ovr-hiddn {
  overflow: hidden;
}

.overlay:after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.overlay {
  display: none;
}

.overlay.active {
  display: block;
}

.mn-btn {
  color: #ffffff;
  font-size: 18px;
  background: #000000;
  border: 1px solid #000000;
  font-weight: 400;
  text-transform: uppercase;
  padding: 0px 0px;
}

.mn-btn:hover {
  background: transparent;
  color: #000000;
}

/* Heading Classes */
.fs-sm {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 32px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  background: url(../images/banner/heading-bg.png);
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fs-lg {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 60px;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background: url(../images/banner/heading-bg.png);
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.fs-p1 {
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 1.9;
  position: relative;
  display: flex;
  gap: 17px;
}
.fs-p1::before {
  content: "";
  width: 80px;
  height: 1px;
  background-color: #b89854;
  position: relative;
  display: block;
  flex-shrink: 0;
  margin-top: 1em;
}

.nav-buttons {
  position: fixed;
  right: 5%;
  bottom: 15%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  z-index: 9;
}
.nav-buttons button {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out;
  color: #fff;
}
.nav-buttons button:hover {
  color: #000;
  background-color: #fff;
}

/* header CSS */
header {
  transition: all 0.4s ease-In-out;
}

.logo {
  display: inline-block;
}

.logo img {
  display: block;
}

/* Menu Css */
.menu {
  font-size: 0px;
  display: inline-block;
  vertical-align: middle;
}

.menu li {
  display: inline-block;
  vertical-align: middle;
  padding-left: 35px;
}

.menu li a {
  display: block;
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
}

.menu li:hover a,
.menu li.active a {
  color: #1887c5;
}

/* Dropdown CSS*/
@keyframes btotreverse {
  0% {
    top: 75px;
    opacity: 1;
  }
  100% {
    top: 115px;
    opacity: 0;
  }
}
@keyframes btot {
  0% {
    top: 115px;
    opacity: 0;
  }
  100% {
    top: 40px;
    opacity: 1;
  }
}
.dropdown-nav {
  position: relative;
  overflow: hidden;
  vertical-align: middle;
}

.dropdown-nav:hover {
  overflow: visible;
}

ul.dropdown {
  position: absolute;
  width: 100%;
  left: 0px;
  margin: auto;
  background: #fff;
  padding: 20px;
  text-align: left;
  border-radius: 2px;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.0784313725);
  opacity: 0;
  animation: btotreverse 0.5s forwards;
}

ul.dropdown li {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
}

ul.dropdown li a {
  padding: 0;
  font-size: 14px;
  color: #000 !important;
  display: block;
  width: 100%;
  margin: 0px 0 15px;
  text-align: center;
  font-weight: 600;
  background: transparent !important;
}

ul.dropdown li.last a {
  margin-bottom: 0px;
}

ul.dropdown li a:hover {
  color: #000 !important;
}

.dropdown-nav:hover ul.dropdown {
  animation: btot 0.5s forwards;
  z-index: 9;
}

/* Hamburger Menu */
.menu-Bar {
  width: 30px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  right: 15px;
  top: 0;
  bottom: 0px;
  margin: auto;
  z-index: 22;
  display: none;
}

.menu-Bar span {
  display: block;
  height: 4px;
  width: 100%;
  background: #ffff00;
  position: absolute;
  transition: 0.6s all;
  border-radius: 100px;
}

.menu-Bar span:nth-child(1) {
  top: 0;
}

.menu-Bar span:nth-child(2) {
  top: 8px;
  transform-origin: left;
}

.menu-Bar span:nth-child(3) {
  top: 16px;
}

.menu-Bar.open span {
  background: #b70404;
}

.menu-Bar.open span:nth-child(1) {
  transform: rotate(45deg);
  top: 12px;
  transform-origin: right-center;
}

.menu-Bar.open span:nth-child(2) {
  width: 0;
  opacity: 0;
}

.menu-Bar.open span:nth-child(3) {
  transform: rotate(-45deg);
  top: 12px;
  transform-origin: right-center;
}

.copyright {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  border: 1px solid #EBAF26;
  padding: 15px 0;
  border-radius: 5px;
}
.copyright p {
  color: #FFF;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 28.8px; /* 160% */
}
.copyright .copyright-leftIcon {
  position: absolute;
  bottom: -6px;
  left: -7px;
}
.copyright .copyright-rightIcon {
  position: absolute;
  top: -6px;
  right: -7px;
  transform: rotate(180deg);
}

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth; /* Smooth scrolling */
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes scroll-left {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/* Main Banner CSS */
.mainBanner {
  background-image: url(../images/banner/home-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.mainBanner .container-fluid {
  height: 100%;
}
.mainBanner > * {
  position: relative;
  z-index: 2;
}
.mainBanner .mainBanner-backImg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainBanner .mainBanner-backImg img {
  max-width: 80%;
  max-height: 85%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
  animation: mover 1s infinite alternate;
}
.mainBanner .mainBanner-social {
  position: absolute;
  right: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
}
.mainBanner .mainBanner-social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 35px;
}
.mainBanner .mainBanner-social ul li a {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 1px solid #FFF;
  font-size: 24px;
  color: #fff;
}
.mainBanner .mainBanner-social ul li a:hover {
  background-color: #fff;
  color: #000;
}
.mainBanner .mainBanner-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 60px 0 150px;
}
.mainBanner .mainBanner-main .mainBanner-heading {
  text-align: center;
}
.mainBanner .mainBanner-main .mainBanner-heading h1 {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 154px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  background: url(../images/banner/heading-bg.png);
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mainBanner .mainBanner-main .mainBanner-heading h2 {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 65px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  background: url(../images/banner/heading-bg.png);
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.mainBanner .mainBanner-main .mainBanner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-bottom: 80px;
}
.mainBanner .mainBanner-main .mainBanner-btn a {
  min-width: 250px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: #000;
  border: 1px solid #f0aa2b;
  padding: 30px 15px;
  border-radius: 12px;
}
.mainBanner .mainBanner-main .mainBanner-btn a .themeBtn-leftIcon {
  position: absolute;
  bottom: -6px;
  left: -7px;
}
.mainBanner .mainBanner-main .mainBanner-btn a .themeBtn-rightIcon {
  position: absolute;
  top: -6px;
  right: -7px;
  transform: rotate(180deg);
}
.mainBanner .mainBanner-main .mainBanner-btn a span {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #EBAF26;
  text-shadow: 0px 4px 20px #EBAF26;
  font-family: "Lora", serif;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
}
.mainBanner .mainBanner-main .mainBanner-btn a span svg {
  width: 1em;
  height: auto;
  margin-top: -2px;
}
.mainBanner .mainBanner-main .mainBanner-btn a:hover {
  transform: scale(1.02);
}
.mainBanner .mainBanner-main .mainBanner-cont p {
  padding: 0 0% 0 8%;
  width: 60%;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: 32px; /* 160% */
}

.mainBanner-nav {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 3;
  padding-bottom: 90px;
}
.mainBanner-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px; /* Adjust spacing between links */
}
.mainBanner-nav ul li {
  margin: 0;
}
.mainBanner-nav ul li a {
  writing-mode: vertical-lr;
  text-orientation: mixed;
  color: #FFF;
  font-family: "Open Sans", sans-serif;
  font-size: 22px;
  font-weight: 300;
  line-height: 1.2;
}
.mainBanner-nav ul li a:hover {
  color: #ffd700; /* Change to any color for hover effect */
}

.phoenix-marquee {
  border-top: 2px solid #EBAF26;
  border-bottom: 2px solid #EBAF26;
  background: #000;
  padding: 20px 0 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
}
.phoenix-marquee .swiper-wrapper {
  transition-timing-function: linear !important;
}
.phoenix-marquee .swiper-slide {
  color: #FFF;
  font-family: "Lora", serif;
  font-size: 40px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  background: url(../images/banner/heading-bg.png);
  background-position: center;
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  text-wrap: nowrap;
  width: -moz-fit-content;
  width: fit-content;
}

.aboutSection {
  background-image: url(../images/about/bg.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 100px 200px 100px 120px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.aboutSection .img img {
  mix-blend-mode: lighten;
}
.aboutSection .cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.aboutSection .cont .fs-p1 {
  padding-top: 25px;
}

.missionSection {
  background-image: url(../images/about/bg.jpg);
  background-position: top left;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  padding: 100px 200px 100px 120px;
  height: 100vh;
  overflow: hidden;
  position: relative;
}
.missionSection .img img {
  mix-blend-mode: lighten;
}
.missionSection .cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.missionSection .cont .fs-p1 {
  padding-top: 25px;
}

/* Custom CSS Responsive Styling */
@media (max-width: 1660px) {
  .mainBanner .mainBanner-main .mainBanner-heading h1 {
    font-size: 100px;
  }
  .mainBanner .mainBanner-main .mainBanner-heading h2 {
    font-size: 45px;
  }
  .mainBanner .mainBanner-main .mainBanner-btn a {
    min-width: 200px;
    padding: 20px;
  }
  .mainBanner .mainBanner-main .mainBanner-cont p {
    padding: 0 0% 0 5%;
    width: 70%;
    font-size: 18px;
    line-height: 1.5;
  }
  .mainBanner .mainBanner-main .mainBanner-btn {
    padding-bottom: 50px;
  }
  .mainBanner-nav ul li a {
    font-size: 18px;
  }
  .mainBanner .mainBanner-social ul {
    gap: 15px;
  }
  .nav-buttons button {
    width: 45px;
    height: 45px;
  }
  .nav-buttons {
    right: 20px;
    bottom: 15%;
    gap: 10px;
  }
  .mainBanner .mainBanner-main {
    padding: 40px 0 120px;
  }
  .fs-sm {
    font-size: 24px;
  }
  .fs-lg {
    font-size: 44px;
  }
  .fs-p1 {
    font-size: 18px;
    line-height: 1.5;
    gap: 15px;
  }
  .phoenix-marquee .swiper-slide {
    font-size: 25px;
    letter-spacing: 0.25em;
  }
  .aboutSection {
    padding: 30px 100px 90px 50px;
  }
  .missionSection {
    padding: 40px 100px 90px 50px;
  }
}
@media (max-width: 1399px) {
  .mainBanner .mainBanner-main .mainBanner-heading h1 {
    font-size: 62px;
  }
  .mainBanner .mainBanner-main .mainBanner-heading h2 {
    font-size: 32px;
  }
  .mainBanner-nav ul li a {
    font-size: 16px;
  }
  .mainBanner-nav ul {
    gap: 12px;
  }
  .mainBanner-nav {
    padding-bottom: 60px;
  }
  .mainBanner .mainBanner-main .mainBanner-btn a {
    min-width: 180px;
    padding: 12px;
  }
  .mainBanner .mainBanner-main .mainBanner-btn a span {
    gap: 8px;
    font-size: 16px;
  }
  .mainBanner .mainBanner-main .mainBanner-cont p {
    padding: 0 0% 0 5%;
    width: 60%;
    font-size: 16px;
    line-height: 1.3;
  }
  .mainBanner .mainBanner-main .mainBanner-btn {
    padding-bottom: 30px;
  }
  .mainBanner .mainBanner-social ul li a svg {
    width: 0.8em;
    height: auto;
    max-width: 100%;
  }
  .mainBanner .mainBanner-social ul li a {
    width: 35px;
    height: 35px;
    font-size: 16.5px;
  }
  .nav-buttons button {
    width: 35px;
    height: 35px;
  }
  .mainBanner .mainBanner-social {
    padding-bottom: 90px;
  }
  span.swiper-notification {
    display: none;
  }
  .phoenix-marquee {
    padding: 15px 0 15px;
  }
  .mainBanner .mainBanner-main {
    padding: 30px 0 80px;
  }
  .aboutSection .cont .fs-p1, .missionSection .cont .fs-p1 {
    padding-top: 10px;
  }
  .fs-p1 {
    font-size: 16px;
    line-height: 1.4;
    gap: 10px;
  }
  .fs-p1::before {
    width: 50px;
    margin-top: 0.7em;
  }
  .fs-lg {
    font-size: 32px;
  }
  .fs-sm {
    font-size: 20px;
  }
  .aboutSection .cont, .missionSection .cont {
    gap: 5px;
  }
  .mainBanner-nav ul li a {
    font-size: 14px;
  }
  .phoenix-marquee .swiper-slide {
    font-size: 20px;
    letter-spacing: 0.2em;
  }
  .copyright {
    padding: 10px 0;
  }
  .copyright p {
    font-size: 14px;
  }
}
@media (max-width: 767px) {
  img {
    max-width: 100%;
    height: auto;
  }
  .menu-Bar {
    display: block;
    top: 0px;
  }
  .menuWrap.open {
    display: flex;
    left: 0px;
  }
  .menuWrap {
    position: fixed;
    left: -210%;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #ff8000;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    transition: all 0.4s ease;
    z-index: 3;
    width: 100vw;
  }
  ul.menu li {
    display: block;
  }
  ul.menu li a {
    margin-bottom: 10px;
    padding: 0;
    display: block;
    text-align: center;
    margin-bottom: 15px;
    padding-right: 0px;
    margin-right: 0px;
    color: #fff;
    font-size: 15px;
    text-transform: capitalize;
  }
  .container {
    position: relative;
  }
  header .header-top {
    display: none;
  }
  header .main-header ul.menu > li {
    display: block;
    padding: 0px;
  }
  header .main-header ul.menu > li a {
    color: #fff;
    padding: 0px;
  }
  header .main-header ul.menu > li a:before {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */